@charset "utf-8";


#header{
    position:fixed;
    right:20px;
    top:50px;
    width:70px;
    height:100%;
    z-index:1;
    height:85px;
    line-height:85px;
    box-sizing:border-box;
}

#header h1{
}
.gnb{
    position:absolute;
    right:0;
    top:100px;
}
.gnb li{
    margin-bottom:50px;
    float:left;
    writing-mode:vertical-lr;
}
.gnb li a{
}

.gnb li a:hover{
    color:#ef4923;
}


/*푸터*/
#footer{
    background:#212121;
    width:100%;
    text-align:center;
}
#footer img{
    width:40px;
    height:40px;
    margin-top:30px;
}
#footer p{
    margin-top:20px;
    color:#f1f1f1;
    font-size:14px;
    font-weight:100;
    padding-bottom:30px;
}