@charset "utf-8";

/*메인슬라이더*/
body{
    overflow-x:hidden;
}

.mainSlider{
    color:#ef4923;
    position:relative;
    height:1000px;
}
.mainSlider h1{
}
.mainSlider h4{
}
.mainTxt{
    padding:350px 0;
    text-align:center;
}
.mainTxt h1{
    font-size:150px;
}
.mainTxt h2{
    font-size:65px;
}


.circle01{
    position:absolute;
    background:url(../images/ball01.png) no-repeat;
    top:-300px;
    left:-200px;
    width:582px;
    height:582px;
    text-indent:-9999px;
    animation:ballcroll 2s infinite alternate linear;
}

@keyframes ballcroll{
    0%{
        margin-top:0;
    }
    100%{
        margin-top:30px;
    }
}

.circle02{
    position:absolute;
    background:url(../images/ball02.png) no-repeat;
    top:340px;
    left:80px;
    width:72px;
    height:72px;
    text-indent:-9999px;
    animation:ballcroll 1s infinite alternate linear;
}
.circle03{
    position:absolute;
    background:url(../images/ball03.png) no-repeat;
    top:50px;
    right:620px;
    width:72px;
    height:72px;
    text-indent:-9999px;
    animation:ballcroll 1s infinite alternate linear;
}
.circle04{
    position:absolute;
    background:url(../images/ball04.png) no-repeat;
    top:-300px;
    right:-200px;
    width:786px;
    height:786px;
    text-indent:-9999px;
    animation:ballcroll 3s infinite alternate linear;
}
.circle05{
    position:absolute;
    background:url(../images/ball07.png) no-repeat;
    bottom:250px;
    left:50%;
    width:57px;
    height:57px;
    text-indent:-9999px;
    animation:sball 2s infinite alternate linear;
}

@keyframes sball{
    0%{
        margin-left:0;
    }
    50%{
        margin-bottom:30px;
    }
    
    100%{
        margin-left:30px;
    }
}

.circle06{
    position:absolute;
    background:url(../images/ball08.png) no-repeat;
    bottom:300px;
    right:50px;
    width:150px;
    height:150px;
    text-indent:-9999px;
    animation:img 2s infinite alternate linear;
}

.macImg{
    position:absolute;
    background:url(../images/sliderImg01.png) no-repeat;
    bottom:-20px;
    left:-50px;
    width:469px;
    height:350px;
    text-indent:-9999px;
    animation:img 2s infinite alternate linear;
}
.aquaImg{
    position:absolute;
    background:url(../images/sliderImg02.png) no-repeat;
    bottom:-100px;
    right:-100px;
    width:469px;
    height:350px;
    text-indent:-9999px;
    animation:img 1.5s infinite alternate linear;
}

@keyframes img{
    0%{
        margin-left:0;
    }
    100%{
        margin-bottom:30px;
    }
}



/*메인컨텐츠01*/
.mainCon01{
    margin-top:100px;
    position:relative;
    margin-bottom:100px;
}

.mainCon01 h2{
    font-size:50px;
}
.mainCon01 img{
}
.con01Img{
    position:absolute;
    top:160px;
}


.con01Box02{
    float:right;
    padding-right:150px;
}
.con01Box02 h4{
    font-size:22px;
    padding:0 20px;
    margin:30px 0;
    display:inline-block;
    background:#000;
    color:#fff;
}

.proTxt{
    padding:0 20px;
}
.proTxt li{
    font-size:16px;
    line-height:25px;
    
}
.proTxt li span{
    font-weight:bold;
    display:inline-block;
    width:80px;
}
.proTxt p{
    padding-left:80px;
}

.aboutTxt{}
.aboutTxt h4{}
.aboutTxt p{
    padding-left:20px;
}


.skillList{

}
.skillList h4{
    font-size:22px;
}
.skillList li{
    font-size:16px;
    font-weight:bold;
    padding-left:20px;
}

/*메인컨텐츠00*/
.mainCon00{}
.mainCon00 h2{
    font-size:50px;
}

.con00Img{
    margin-left:100px;
    padding-top:30px;
}
.con00Img ul{    
}

.con00Img li{
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    width:360px;
    height:360px;
    border-radius:30%;
    background-size:100%;
    background-position:center;
    transition:background-size 0.5s;
}
.con00Img li a{
    border-radius:30%;
    height:100%;
    display:block;
    transition:all 0.5s;
}
.con00Img li:hover a{
    background:rgba(0,0,0,0.6);
}

.con00Img li img{
    display:block;
}

.con00Img>li:hover{
    background-size:120%;
}
.con00Img p{
    text-align:center;
    padding-top:150px;
    color:#fff;
    font-size:28px;
    transition:background 0.5s;
    display:none;
}
.con00Img>li:hover p{
    display:block;

}
.con00Img span{
    font-size:16px;
}
.img01{
    background:url(../images/con00Img01_1.png) no-repeat;
}
.img02{
    background:url(../images/con00Img02_1.png) no-repeat;
}

.img03{
    background:url(../images/con00Img03_1.png) no-repeat;
}
.img04{
    background:url(../images/con00Img04_1.png) no-repeat;
}
.img05{
    background:url(../images/con00Img05_1.png) no-repeat;
}
.img06{
    background:url(../images/con00Img06_1.png) no-repeat;
}
.img07{
    background:url(../images/con00Img07_1.png) no-repeat;
}


/*모달창*/

.popWrap1{
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.popCon1{
    width:1200px;
    height:850px;
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-sizing:border-box;
    z-index:1;
    text-align:center;
}
.popCon1 img{
    padding-top:100px;
}

.popWrap2{
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.popCon2{
    width:1200px;
    height:850px;
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-sizing:border-box;
    z-index:1;
    text-align:center;
    overflow-X:hidden;
}
.popCon2 img{
    padding-top:80px;
}

.popWrap3{
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.popCon3{
    width:1200px;
    height:850px;
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-sizing:border-box;
    z-index:1;
    text-align:center;
    overflow-X:hidden;
}
.popCon3 img{
    padding-top:80px;
}

.popWrap4{
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.popCon4{
    width:1200px;
    height:850px;
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-sizing:border-box;
    z-index:1;
    text-align:center;
    overflow-X:hidden;
}
.popCon4 img{
    padding-top:80px;
}

.popWrap5{
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.popCon5{
    width:1200px;
    height:850px;
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-sizing:border-box;
    z-index:1;
    text-align:center;
    overflow-X:hidden;
}
.popCon5 img{
    padding-top:80px;
}

.popWrap6{
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.popCon6{
    width:1200px;
    height:850px;
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-sizing:border-box;
    z-index:1;
    text-align:center;
}
.popCon6 img{
    padding-top:100px;
}

.popWrap7{
    position:fixed;
    background-color:rgba(0,0,0,0.6);
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.popCon7{
    width:1200px;
    height:850px;
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    box-sizing:border-box;
    z-index:1;
    text-align:center;
}
.popCon7 img{
    padding-top:100px;
}

.moreBtnP{
    position:absolute;
    right:-10px;
    top:20px;
}

.moreBtnP li{
    width:50px;
    height:50px;
    background:url(../images/xIcon.png) no-repeat;
    cursor:pointer;
    text-align:center;
    box-sizing:border-box;
    text-indent:-9999px;
}






/*메인컨텐츠02*/
.mainCon02{
    margin-top:120px;
    background:url(../images/con02mainImg.png) no-repeat;
    background-position:bottom;
    height:2040px;
}
.mainCon02 .inner{
    position:relative;
}
.mainCon02 h2{
    font-size:50px;
    
}
.con02Img{
    padding-top:40px;
}

.con02Img img{
    position:absolute;
    left:220px;
}


.con02Txt{
    position:absolute;
    top:100px;
    right:0;
    font-size:16px;
    line-height:24px;
}
.con02Txt h2{
    font-size:30px;
    text-align:center;
    line-height:45px;
    padding:0 20px;
    display:inline-block;
    background:#000;
    color:#fff;
}
.con02Txt>span{
    margin-left:40px;
}
.pColor{
    padding-bottom:30px;
}
.pColor span{
    display:block;
    font-weight:bold;
    padding:10px 0;
    
}
.pColor img{
    padding-right:5px;
}

.con02Txt p{
    padding-bottom:20px;
}
.con02Txt img{}
.con02Txt h4{
}

.moreBtn{
    font-size:22px;
    position:absolute;
    top:1800px;
    right:0px;
}
.moreBtn li{
    float:left;
    text-align:center;
    border:1px solid #212121;
    width:220px;
}
.moreBtn a{
    display:block;
    transition:0.5s;
}
.moreBtn a:hover{
    background:#6e1427;
    color:#fff;
    transition:0.5s;
}

/*메인컨텐츠02*/
.mainCon03{
    margin-top:120px;
    background:url(../images/con03mainImg.png) no-repeat;
    background-position:bottom;
    height:2040px;
    margin-bottom:300px;
}
.mainCon03 .inner{
    position:relative;
}
.con03Img img{
    position:absolute;
    left:220px;
    top:30px;
}


.con03Txt{
    position:absolute;
    top:80px;
    right:0;
    font-size:16px;
    line-height:24px;
}
.con03Txt h2{
    font-size:30px;
    line-height:36px;
    line-height:45px;
    padding:0 20px;
    display:inline-block;
    background:#000;
    color:#fff;
}

.con03Txt>span{
    margin-left:50px;
}

.pColor{
    padding-top:30px;
    padding-bottom:30px;
}
.pColor span{
    display:block;
    font-weight:bold;
    padding:10px 0;
    
}
.pColor img{
    padding-right:5px;
}

.con03Txt p{
    padding-bottom:20px;
}
.con03Txt img{}
.con03Txt h4{
}

.moreBtn{
    font-size:22px;
    position:absolute;
    top:1800px;
    right:0px;
}
.moreBtn li{
    float:left;
    margin:0 20px;
    border:1px solid #212121;
    text-align:center;
}
.moreBtn a{
    display:block;
    padding:10px 0;
}

.mainCon03 .moreBtn a:hover{
    background:#013c8c;
    color:#fff;
    transition:0.5s;
}


/*메인컨텐츠05*/
.mainCon05{
    position:relative;
    height:500px;
}
.con05Txt{}
.con05Txt h2{
    text-align:center;
    margin-right:300px;
    font-size:80px;
    color:#ef4923;
}

.con05Txt02{
    padding-top:130px;
    text-align:center;
}
.con05Txt02 h4{
    font-size:40px;
    font-family:'KOTRA_BOLD-Bold',sans-serif;
}
.con05Txt02 p{
    font-size:22px;
}

.mainCon05 .circle01{
    position:absolute;
    background:url(../images/ball01.png) no-repeat;
    top:-300px;
    right:-200px;
    width:582px;
    height:582px;
    text-indent:-9999px;
}
.mainCon05 .circle02{
    position:absolute;
    background:url(../images/ball02.png) no-repeat;
    top:340px;
    left:80px;
    width:72px;
    height:72px;
    text-indent:-9999px;
}
.mainCon05 .circle03{
    position:absolute;
    background:url(../images/ball03.png) no-repeat;
    top:50px;
    right:620px;
    width:72px;
    height:72px;
    text-indent:-9999px;
}
.mainCon05 .circle04{
    position:absolute;
    background:url(../images/ball04.png) no-repeat;
    bottom:-100px;
    right:-300px;
    width:786px;
    height:786px;
    text-indent:-9999px;
    
}
.mainCon05 .circle05{
    position:absolute;
    background:url(../images/ball07.png) no-repeat;
    bottom:250px;
    right:0;
    width:57px;
    height:57px;
    text-indent:-9999px;
}
.mainCon05 .circle06{
    position:absolute;
    background:url(../images/ball08.png) no-repeat;
    left:380px;
    bottom:200px;
    width:150px;
    height:150px;
    text-indent:-9999px;
}

.mainCon05 .aquaImg{
    position:absolute;
    background:url(../images/sliderImg02.png) no-repeat;
    top:150px;
    right:300px;
    width:469px;
    height:350px;
    text-indent:-9999px;
    animation:img2 2s infinite alternate linear;
}

@keyframes img2{
    0%{
        margin-left:0;
    }
    50%{
        margin-right:30px;
    }
    100%{
        margin-top:30px;
    }
}