@charset "utf-8";
/*웹뷰에서 안보임*/
.{display:none;}

/*웹공통*/
body{min-width:auto;}

@media screen and (max-width:768px){
    .inner{width:auto;}
  
    /*모바일에서 보임*/
    .{display:block;}
    
    /*모바일에서 안보임*/
    #header,.circle04,.wBtn{display:none;}
    
    body{
        overflow-x:visible;
    }
    .overflowWrap{
    }
    body br{
	   display:none;
    }
    
    #container{
    }
    
    
    /*메인슬라이더*/
    .mainSlider{
        height:600px;
    }
    .mainSlider h1{font-size:60px;}
    .mainSlider h2{font-size:30px;}
    
    .mainTxt{
        padding:180px 0;
    }
    
    .macImg{
        background-size:100%;
        width:50%;
        bottom:-200px;
        left:-30px;
    }
    .circle{
    }
    .circle2{
    }
    .mainSlider .circle01{
        background-size:90%;
        left:-110px;
        top:-130px;
        transition:all 4s;
        width:300px;
        height:300px;
    }
    .mainSlider .circle05{
        display:none;
    }
    .mainSlider .circle02{
        display:none;
    }
    .mainSlider .circle06{
        right:-70px;
        bottom:310px;
    }
    .mainSlider .aquaImg{
        background-size:100%;
        width:50%;
        bottom:-160px;
        right:-50px;
    }
    
    /*메인컨텐츠01*/
    .mainCon01{
        margin-bottom:70px;
    }
    .mainCon01 h2{
        font-size:40px;
        text-align:center;
    }
    
    .con01Img{
        position:static;
        text-align:center;
        padding-top:20px;
    }
    
    .con01Img img{
        width:80%;
    }
    
    .con01Box02{
        padding-top:
    }
    .con01Box02 h4{
        margin:20px 0;
    }
    
    .con01Box01{
        margin:0 5%;
    }
    .con01Box01 img{
        width:100%;
        float:none;
    }
    .logoTxt{
        padding:10% 0;
        padding-bottom:5%;
        text-align:center;
    }
    .logoTxt h2{
        font-size:26px;
    }
    .logoTxt p{
        font-size:15px;
        padding-top:20px;
        word-break:keep-all;
    }
    
    .con01Box02{
        padding:10% 8%;
        padding-top:5%;
        padding-bottom:5%;
        word-break:keep-all;
    }
    .eduTxt{
    }
    .skillList{
        position:static;
    }
    
    /*메인컨텐츠00*/
    .mainCon00{
    }
    .mainCon00 h2{
        font-size:40px;
        text-align:center;
    }
    .con00Img{
        margin-left:3%;
    }
    
    .con00Img ul{
    }
    .con00Img>li{
        width:165px;
        height:165px;
        margin-right:2%;
        margin-bottom:2%;
        border-radius:25%;
    }

    .con00Img>li a{
        border-radius:25%;
    }
    .con00Img>li:nth-child(2n){
    }
    
    /*팝업내용*/
    .popCon1{
        width:300px;
        height:500px;
    }
    .popCon1 img{
        width:90%;
        padding-top:150px;
    }
    .moreBtnP{
        right:-30px;
        top:10px;
    }
    
    .popCon2{
        width:300px;
        height:500px;
    }
    .popCon2 img{
        width:95%;
        padding-top:70px;
    }
    
    .popCon3{
        width:300px;
        height:500px;
    }
    .popCon3 img{
        width:95%;
        padding-top:70px;
    }
    
    .popCon4{
        width:300px;
        height:500px;
    }
    .popCon4 img{
        width:95%;
        padding-top:60px;
    }
    
    .popCon5{
        width:300px;
        height:500px;
    }
    .popCon5 img{
        width:95%;
        padding-top:50px;
    }
    
    .popCon6{
        width:300px;
        height:500px;
    }
    .popCon6 img{
        width:95%;
        padding-top:150px;
    }
    
    .popCon7{
        width:300px;
        height:500px;
    }
    .popCon7 img{
        width:95%;
        padding-top:150px;
    }
    
    /*메인컨텐츠02*/
    .mainCon02{
        background-size:200%;
        background-position:30% 46%;
        margin-top:70px;
        height:auto;
    }
    .mainCon02 h2{
        font-size:40px;
        text-align:center;
    }
    .con02Img{
        width:100%;
        text-align:center;
        padding-top:30px;
        padding-bottom:30px;
    }
    .con02Img img{
        position:static;
        width:70%;
    }
    .con02Txt{
        position:static;
        padding:0 10%;
        word-break:keep-all;
    }
    .con02Txt h2{
        font-size:23px;
        line-height:30px;
        padding:0 10px;
    }
    
    .pColor{
        padding-bottom:570px;
    }
    .moreBtn{
        position:static;
    }
    .moreBtn ul{
    }
    .moreBtn li{
        float:none;
        margin:0 auto;
    }
    .moreBtn a{
        
    }
    
    /*메인컨텐츠03*/
    .mainCon03{
        margin-top:70px;
        background-size:200%;
        background-position:30% 44%;
        height:auto;
        margin-bottom:250px;
    }
    .con03Img{
        width:100%;
        text-align:center;
        padding-bottom:30px;
    }
    .con03Img img{
        position:static;
        width:70%;
    }
    
    .con03Txt{
        position:static;
        padding:0 10%;
        word-break:keep-all;
    }
    .con03Txt h2{
        font-size:23px;
        line-height:30px;
        padding:0 10px;
    }
    
    .con03Txt>span{
        margin-left:40px;
    }
    
    .mBtn2{

    }
    .mBtn2 ul{

    }
    .mBtn2 li{
        width:100%;
        margin:0 auto;
    }
    
    
    /*메인컨텐츠04*/
    .mainCon04{
        padding-top:30px;
        background-size:240%;
        background-position:60% 40%;
        height:auto;
        
    }
    
    .con04Txt{
        padding-top:80px;
        padding:0 10%;
    }
    .con04Txt h2{
        font-size:26px;
        text-align:center;
    }
    .con03Txt2{
        margin-top:470px;
    }
    
    /*메인컨텐츠05*/
    .mainCon05{
        height:330px;
    }
    .con05Txt h2{
        font-size:50px;
        text-align:center;
        margin-right:0;
    }
    
    .circle2 .circle01{
        width:30%;
        display:none;
    }
    
    .circle2 .circle02{
        top:10px;
        left:-30px;
        display:none;
    }
    
    .circle2 .circle04{
        display:none;
    }
    .circle2 .circle05{
        bottom:0px;
        left:-20px;
        padding-bottom:160px;
    }
    
    .mainCon05 .aquaImg{
        top:-290px;
        right:-30px;
        background-size:30%;
        background-position:100% 60%;
    }
    
    .con05Txt02{
        padding-top:60px;
    }
    
    .con05Txt02 h4{
        font-size:28px;
        padding-bottom:10px;
    }
    .con05Txt02 p{
        font-size:16px;
    }
    /*푸터*/
    #footer img{
        margin-top:20px;
    }
    #footer p{
        margin-top:10px;
        padding-bottom:20px;
    }